body{
margin: 0%;
padding: 0%;
}

.cuerpo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente si lo deseas */
    height: 100vh;           /* Asumiendo que deseas que ocupe toda la altura de la vista */
}
.recuadro{
    margin-top: 60px;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0.2);
    border-radius: 20px;
    background-color: yellowgreen;
}


.imagen{
    justify-content: center;
    width: 200px;
    height: 200px;
}


